version: "2.4"
services:
  mysql:
    image: mysql:5.7
    mem_limit: "1g"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: "%"

  redis:
    image: redis
    mem_limit: "500m"

  dynamodb:
    image: amazon/dynamodb-local
    mem_limit: "500m"

  s3:
    image: adobe/s3mock
    mem_limit: "500m"

  setup:
    image: exercism/setup
    mem_limit: "250m"
    build:
      context: ./setup
      dockerfile: dev.Dockerfile
    depends_on:
      - dynamodb
      - s3
    environment:
      - EXERCISM_DOCKER=true
      - EXERCISM_ENV=development

  website:
    image: exercism/website
    stop_grace_period: 1s
    build:
      context: ../v3-website
      dockerfile: dev.Dockerfile
    depends_on:
      - mysql
      - redis
      - dynamodb
      - s3
      - setup
    environment:
      - LANGUAGE_SERVER_HOST=language-server-proxy:3000
      - DB_HOST=mysql
      - EXERCISM_ENV=development
      - EXERCISM_DOCKER=true
      - OVERMIND_SOCKET=/usr/src/app/tmp/overmind.sock
    ports:
      - 3020:3020
      - 3035:3035
      - 3334:3334
    volumes:
      - ../v3-website:/usr/src/app
      - /usr/src/app/node_modules
      - type: tmpfs
        target: /usr/src/app/tmp

  tooling-orchestrator:
    image: exercism/tooling-orchestrator
    mem_limit: "250m"
    build:
      context: ../tooling-orchestrator
      dockerfile: dev.Dockerfile
    depends_on:
      - setup
    ports:
      - 3021:3021
    environment:
      - EXERCISM_ENV=development
      - EXERCISM_DOCKER=true
    volumes:
      - ../tooling-orchestrator:/usr/src/app

  tooling-invoker:
    image: exercism/tooling-invoker
    mem_limit: "250m"
    build:
      context: ../tooling-invoker
      dockerfile: dev.Dockerfile
    depends_on:
      - setup
      - tooling-orchestrator
    environment:
      - EXERCISM_ENV=development
      - EXERCISM_DOCKER=true
      - EXERCISM_INVOKE_VIA_DOCKER=true
    volumes:
      - ../tooling-invoker:/usr/src/app

  generic-tooling:
    image: exercism/generic-tooling-image
    entrypoint: tooling_webserver
    build:
      context: ../generic-tooling-build-context
      dockerfile: Dockerfile
    volumes:
      - ../generic-tooling-source:/opt/generic-tooling-target

  adminer:
    image: adminer:4.7.7-standalone
    depends_on:
      - mysql
    environment:
      ADMINER_DEFAULT_SERVER: mysql
    ports:
      - 8080:8080

  portainer:
    image: portainer/portainer-ce:2.0.0-alpine
    command: -H unix:///var/run/docker.sock
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  language-server-proxy:
    build:
      context: ../language-servers
      dockerfile: proxy.Dockerfile
    ports:
      - 3000:3000
    environment:
      RUBY_LANGUAGE_SERVER_HOST: ruby-language-server
      RUBY_LANGUAGE_SERVER_PORT: 7658

  ruby-language-server:
    build:
      context: ../language-servers
      dockerfile: ruby.Dockerfile
    environment:
      PROXY_HOST: language-server-proxy
      PROXY_PORT: 4444
