version: "2.4"
services:
  mysql:
    image: mysql:5.7
    mem_limit: "1g"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: '%'

  redis:
    image: redis
    mem_limit: "500m"

  dynamodb:
    image: amazon/dynamodb-local
    mem_limit: "500m"

  s3:
    image: adobe/s3mock
    mem_limit: "500m"

  setup:
    image: exercism/setup
    mem_limit: "250m"
    build:
      context: ./setup
      dockerfile: development.Dockerfile
      args:
        exercism_config_version: 0.30.0
    depends_on:
      - dynamodb
      - s3
    environment:
      - EXERCISM_DOCKER=true
      - EXERCISM_ENV=development

  website:
    image: exercism/website
    build:
      context: ../v3-website
      dockerfile: dev.Dockerfile
    depends_on:
      - mysql
      - redis
      - dynamodb
      - s3
      - setup
    environment:
      - DB_HOST=mysql
      - EXERCISM_ENV=development
      - EXERCISM_DOCKER=true
      - OVERMIND_SOCKET=/usr/src/app/tmp/overmind.sock
    ports:
      - 3020:3020
      - 3035:3035
      - 3334:3334
    volumes:
      - ../v3-website:/usr/src/app
      - /usr/src/app/node_modules
      - type: tmpfs
        target: /usr/src/app/tmp

  tooling-orchestrator:
    image: exercism/tooling-orchestrator
    mem_limit: "250m"
    build:
      context: ../tooling-orchestrator
      dockerfile: dev.Dockerfile
    depends_on:
      - setup
    ports:
      - 3021:3021
    environment:
      - EXERCISM_ENV=development
      - EXERCISM_DOCKER=true
    volumes:
      - ../tooling-orchestrator:/usr/src/app

  tooling-invoker:
    image: exercism/tooling-invoker
    mem_limit: "250m"
    build:
      context: ../tooling-invoker
      dockerfile: dev.Dockerfile
    depends_on:
      - setup
      - tooling-orchestrator
    environment:
      - EXERCISM_ENV=development
      - EXERCISM_DOCKER=true
      - EXERCISM_INVOKE_VIA_DOCKER=true
    volumes:
      - ../tooling-invoker:/usr/src/app

  # this is only used to build the dependency for csharp-test-runner
  # it will fail quickly and die when launched as part of the full stack
  csharp-test-runner-base:
    image: exercism/csharp-test-runner-base
    build:
      context: ../csharp-test-runner
      dockerfile: Dockerfile

  csharp-test-runner:
    build:
      context: ./tooling
      dockerfile: Dockerfile.csharp-test-runner.dev
    depends_on:
      - csharp-test-runner-base

  # this is only used to build the dependency for javascript-test-runner
  # it will fail quickly and die when launched as part of the full stack
  javascript-test-runner-base:
    image: exercism/javascript-test-runner-base
    build:
      context: ../javascript-test-runner
      dockerfile: Dockerfile
    volumes:
      - ../javascript-test-runner:/opt/test-runner

  javascript-test-runner:
    build:
      context: ../javascript-test-runner
      dockerfile: dev.Dockerfile
    depends_on:
      - javascript-test-runner-base

  adminer:
    image: adminer:4.7.7-standalone
    depends_on:
      - mysql
    environment:
      ADMINER_DEFAULT_SERVER: mysql
    ports:
      - 8080:8080

  portainer:
    image: portainer/portainer:1.24.1
    command: -H unix:///var/run/docker.sock
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
