name: Push to DockerHub

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set exercism config version
        run: echo ::set-env name=EXERCISM_CONFIG_VERSION::$(grep 'exercism-config (' Gemfile.lock | grep -o '[0-9.]\+')

      - name: Check exercism_config version
        run: echo ${{ env.EXERCISM_CONFIG_VERSION }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: exercism/setup
          tag_with_sha: true
          tags: latest
          dockerfile: setup/dev.Dockerfile
          build_args: --build-arg exercism_config_version=${{ env.EXERCISM_CONFIG_VERSION }}
